<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
</head>
<body>
<div style="margin: 20px;">
    <h2 style="margin: 0 auto;"> Terms and Conditions Governing We Too Write, www.wetoowrite.com</h2>
<h4>Article Content</h4>
<p>Any article posted by a member shall abide by:</p>
<p> Not violate any of these acts considered as Offenses:
<ul>
    <li>Posting of defamatory comment or material against someone- Offence under Section 66A of the IT Act, punishable with
    imprisonment.</li>
    <li>Even liking of and sharing such comments can constitute an offense.</li>
    <li>Posting defamatory material or comment- Criminal defamation under Section 499 of IPC.</li>
   <li>Posting of defamatory material or comment against someone- he or she can sue you before the civil court and seek
       damages besides injunction.</li>
    <li>Posting or selling pornographic material on the net- Offence under Section 292, 292A, 293, 294 IPC punishable with
        imprisonment.</li>
    <li>Posting secret information, documents of Government, photographs of prohibited place- Punishable for the violation
        of Officials Secrets Act.</li>
    <li>Posting copied material on the website- Offence under the Copyright Act.</li>
    </ul>
</p>
<p>
    Posting of content including but not limited to  inflammatory, derogatory, communally sensitive, derogatory, defamatory, revealing
    state or national secret is prohibited. Publication of all sensitive information is prohibited
</p>
<p>
    All content prohibited by rules and laws applicable in India and its States and all judgements adjudicating cases
    on these matters shall be kept in mind and abided by the members. Awareness of the same is the responsibility
    of the member posting the Article.
</p>
<p>
    Press Council of India <a href="http://presscouncil.nic.in/OldWebsite/NORMS-2010.pdf">norms of journalistic conduct - Press Council of India</a>
    and <a href="http://presscouncil.nic.in/">Rules and Regulation and Compliance</a> must be consulted and complied with
</p>
<h4>Commenting and Replying</h4>
<span>Commenting and Replying shall not address the publisher but the content of the Article.</span>
<span>No derogatory or offensive content is permitted</span>
<h4>Disclaimer/Indemnity</h4>
<p>The onus of correctness of information provided and content posted shall be of the member posting the Article</p>
<p>The owner of www.wetoowrite.com is fully indemnified from any civil / criminal proceedings arising from such article</p>
<p>The personal information submitted by the member will be the property of the website</p>
<p>The website will not be held liable for any comments posted on an article and the publisher of such article shall hold
the website and its owner fully indemnified against any judicial proceeding and monetary liability</p>
<h4>Jurisdiction
    <p>All cases will be filed in the jurisdiction of Delhi </p>
</h4>
<h4>Publication and Removal</h4>
<p>The decision of the Website to publish and remove an article, comment and replies will be final and irrevocable and
cannot be contested by any member in any court of law and it shall not constitute as a violation of any person's rights</p>
<h4>Membership</h4>
<p>Grant of membership is automatic by registration and accepting of the T&C of We Too Write unless a member has already been banned due to his past
posts, comments or replies</p>
<p>The membership can however be terminated by the website without any notice to a member and the terminated member shall have no
right to question or legally proceed against the website or its owners</p>
    </div>
</body>
</html>