{% extends 'blog/base.html' %}
{% block content %}
    {% load blog_tags %}
    {% load static %}
    <style>
        div.view img {
            opacity: 0.75;
            width: 100%;
            height: 55vh;
            object-fit: cover;
        }
        @media only screen and (max-width: 600px){
               div.view img {
                opacity: 0.75;
                width: 100%;
                height: 35vh;
                object-fit: cover;
            }
        }

        div.view img:hover {
            opacity: 1.0;
            transform: scale(1.5)
        }
        div.view{
            background-image: url("https://media.gettyimages.com/photos/magic-spell-book-picture-id1184647183?s=2048x2048");

            background-size: contain;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Rye&family=Vast+Shadow&display=swap" rel="stylesheet">
    <div class="view" >
    <div class="white-text text-center mb-5" style="background-color: #1c2a48;; height: 10vh; margin-top: 100px;">
        <h1 style="font-family: 'Rye', cursive; font-size: 40px; letter-spacing: 4px;">{{ object_list.count }} Post{{ object_list.count|pluralize }} By {% if object_list %}{{ object_list.0.author.first_name|title }}{% else %}
            {{ user_post|title}} {% endif %}</h1>


    </div>
    <div class="container">
    <header>
                <form class="form-inline md-form ml-auto mb-4" action="{% url 'blog-search' %}">
                    <input class="form-control mr-sm-2" type="search" name="q" id="id_q" placeholder="Search"
                           aria-label="Search">
                    <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
                </form>
            </header>
    </div>
    <div class="container">
        <!-- Grid row -->
        <div class="row">
            {% for article in object_list %}
                <!-- Grid column -->
                <div class="col-lg-6 mb-4 d-flex align-items-stretch">
                    <!--Card-->
                    <div class="{% cycle 'card default-color'  'card primary-color' 'card secondary-color' 'red lighten-1 '%}">
                       {% if article.cover %}
                        <!--Card image-->
                        <div class="view cover">
                            <img src="{{ article.cover.url }}" class="card-img-top" alt="photo">
                        </div>
                            {% else %}
                             <div class="view cover">
                            <img src="{% static 'images/logo2.PNG' %}" class="card-img-top" alt="photo">
                        </div>
                        {% endif %}
                        <!--Card content-->
                        <div class="card-body text-center" >
                            <!--Title-->
                            <h4 class="card-title white-text">{{ article.title|title }}</h4>
                            <p class="" style="color: #ffff00">By {{ article.author.first_name|title }} on {{ article.publish|date:"d M" }}</p>
                            <!--Text-->
                            <p class="card-text white-text" style="text-wrap: normal; text-align: justify;">{{ article.content|truncatewords:"100" }}</p>
                            <a href="{{ article.get_absolute_url }}" class="btn btn-outline-white btn-md waves-effect">Read on</a>
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!-- Grid column -->
                {% empty %}
                No Posts by
            {% endfor %}

        </div>
        <div style="text-align:center;">
            {% if is_paginated %}

            {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}