{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <style>
    html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}
    </style>
    <body style="background-color: #2a1758;">
    <div class="full-height" style="margin-top: 100px;">
        <div class="container mt-5 align-middle" id="main" style="margin-top:50%">
            <div class="ml-4 ">

                <!--Card : Dynamic content wrapper-->
                <div class="card mb-4 text-center wow fadeIn">

                    <div class="card-header">Password Reset</div>

                    <!--Card content-->
                    <div class="card-body">

                        <!-- Default form login -->
                        <form action="" method="POST">
                            {% csrf_token %}

                            <div id="div_id_email" class="form-group">
                                <label for="id_email" class=" requiredField grey-text">Your Email<span
                                        class="asteriskField">*</span> </label>

                                <div class=""><input type="email" name="email" autocomplete="email" maxlength="254"
                                                     class="emailinput form-control reset_password" required
                                                     id="id_email">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                            </div>
                        </form>
                        <!-- Default form login -->

                    </div>

                </div>
                <!--/.Card : Dynamic content wrapper-->
            </div>
        </div>
    </div>
    </div>
    </body>
{% endblock %}
{% block jquery %}
    <script src="{% static 'js/password_reset.js' %}"></script>
{% endblock jquery %}