{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{%load static%}

{% block title %}Password changed{% endblock %}
{% block content %}
<div class="containe h-10" style="margin-top:100px; height:400px">
    <div class="row ">
        <div class="col-6 offset-md-3 " style="background-color:#f8f5f5">

            <div class="col-6 offset-md-2 " style="background-color:#f8f5f5">
                <h4>Password changed</h4>
                <p>Your password has been successfully changed.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}