{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
    <body style="background-color: #2a1758">
<div id="container " style="margin-top: 200px;">
<div class="row">

    <div class="col-lg-6 offset-2 white-text">
        <form action="" method="POST">
            {%csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Reset</legend> <!--comes on top of form-->
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
</div>
    </body>
{%endblock%}
{% block jquery %}
    <script>
    $('#hint_id_new_password1 ul').css({'color': 'white'})
    </script>
{% endblock %}